@model ARCH_TF.Models.usuario

@{
    ViewBag.Title = "Inicio";
}

<div class="container-fluid p-0 m-0">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-3 col-xl-2 p-0 bg-dark ">
            <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-baseline py-2 text-center sticky-top ms-3" id="sidebar">
                <button type="button" class="navbar-toggler border-0 order-1" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-last" id="nav">
                    <ul class="navbar-nav flex-column w-100 justify-content-center align-items-baseline">
                        <li class="nav-item">
                            <a href="/Usuario" class="nav-link active">Consultas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Usuario/Solicitud" class="nav-link">Solicitudes</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Usuario/Quejas" class="nav-link">Quejas</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col px-0 flex-grow-1">
            <div class="container py-3">
                <h1>@Html.DisplayFor(model => model.nombres)</h1>
            </div>

            @{
                if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @ViewBag.Message
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                }
            }
        </main>
    </div>
</div>
