@model ARCH_TF.Models.estado_coche

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>estado_coche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_estado_coche }) |
    @Html.ActionLink("Back to List", "Index")
</p>
