@{
    ViewBag.Title = "Acerca de nosotros";
}


<div class="container-fluid">
    
    <h2 class="text-center">@ViewBag.Title</h2>


    <hr size="12" />

    <div class="row align-items-center">

        <div class="col border border-3 bg-light bg-opacity-75 m-1">
            <p class="fw-bold fs-1 text-center">Misión</p>
            <div class="fs-4 text-md-start">
                Garantizar el aprovechamiento óptimo de los recursos hidrocarburíferos, velar por la eficiencia de la inversión pública y de los activos productivos en el sector de los hidrocarburos, con el fin de precautelar los intereses de la sociedad, mediante la efectiva regulación y el oportuno control de las operaciones y actividades relacionadas.
            </div>
        </div>

        <div class="col border border-3 bg-light bg-opacity-75 m-1">
            <p class="fw-bold fs-1 text-center">Visión</p>
            <div class="fs-4 text-md-start">
                La Agencia de Regulación y Control Hidrocarburífero – ARCH, es el garante público de los intereses constitucionales del Estado en el sector hidrocarburífero, gracias a su alto nivel técnico-profesional, a su gestión transparente y a su cultura de servicio y mejoramiento continuo.
            </div>
        </div>

    </div>
</div>

