@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<hr size="12" />

<address>
    Agencia de Regulación y Control Hidrocarburífero<br />
    La Armenia - Conocoto - Pichincha - Ecuador<br />
    <abbr title="Teléfono">P:</abbr>
    (593-2) 3996 500
</address>

<address>
    <strong>Agencia:</strong>   <a href="mailto:soportehidrocar@arch.gob.ec">soportehidrocar@arch.gob.ec</a><br />
    <strong>Soporte:</strong>   <a href="mailto:hidrocarburífero@arch.gob.ec">hidrocarburífero@arch.gob.ec</a><br />
</address>

<div class="fixed-bottom">
    <div class="container-fluid bg-light text-center p-3">
        <p style="line-height: 25%" class="small">&copy; Agencia de Regulación y Control Hidrocarburífero La Armenia - Conocoto - Pichincha - Ecuador
        <p style="line-height: 25%">La Armenia - Conocoto - Pichincha - Ecuador</p>
        <p style="line-height: 25%">Teléfono: (593-2) 3996 500</p>
    </div>
</div>