@{
    ViewBag.Title = "Contactos";
}
<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

<hr size="12" />

<address>
    <h3>
        Agencia de Regulación y Control Hidrocarburífero<br />

        La Armenia - Conocoto - Pichincha - Ecuador<br />
        <abbr title="Teléfono">P:</abbr>
        (593-2) 3996 500
    </h3>
    
    
    
    
</address>

<address>
    <h3>
        <strong>Agencia:</strong>   <a href="mailto:soportehidrocar@arch.gob.ec">soportehidrocar@arch.gob.ec</a><br />
        <strong>Soporte:</strong>   <a href="mailto:hidrocarburífero@arch.gob.ec">hidrocarburífero@arch.gob.ec</a><br />
    </h3>
</address>
