@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <h1>ARCH</h1>
    <div>
        <p class="lead">Agencia de Regulación y Control de Hidrocarburíferos</p>
    </div>
</div>

<div class="container">
    @{
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-warning" >
                @ViewBag.Message
            </div>
        }
    }
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <img src="~/Images/logo.png" class="img-fluid" />
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-white bg-opacity-75 container-fluid">
                <p class="fs-2 text-center">Inicia Sesión</p>
                <form action="/Home/Login" method="post">
                    <div class="mb-2">
                        <label for="inputEmail3" class="col-sm-2 control-label">Usuario</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Usuario" name="email" value="">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="inputPassword3" class="col-sm-2 control-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña" name="password" value="">
                        </div>
                    </div>
                    <div class="form-group row justify-content-around m-2">
                        <div class="col-4">
                            <button class="btn btn-dark">Entrar</button>
                        </div>
                        <div class="col-4">
                            <a>@Html.ActionLink("Registro", "Create", "form_registro", null, new { @class = "btn btn-link fw-bold link-dark" })</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
